<header>
  <nav class="main">
    <h1><a href="./"><img src="img/logo.svg" alt="<%=titre%>"/></a><a class="titre" href=""><%=titre%></a>
    </h1>
    <div class="spacer"></div>

    <a href="./">Accueil</a>
    <a href="./actualite.html">Actu</a>
    <a href="./jardinage.html">Jardinage</a>
    <a href="./animations.html">Animations</a>
    <a href="./dates.html">Dates</a>
    <a href="./contact.html">Liens & contact</a>
  </nav>
</header>
