title: Accueil
<<: !!inc/file ../temoignages.yml
<<: !!inc/file ../dates.yml
-------------------

<section id="splash">
  <h1 class="textSplash">le pouvoir d'agir&nbsp;!</h1>
</section>
<section>
  <a class="button right withPicto agenda" href="agenda.html">Prochaines Dates...</a>

<article class="flashy">Stages adaptés pour être maintenus en période de confinement !</article>

<h2>En quoi la permaculture peut vous aider ?</h2>

<p>
Le but de notre association de loi 1901 est de promouvoir la sensibilisation de l'humain au monde vivant. Nous sommes implantés à Gradignan en Gironde.
</p><p>
 Nous créons et proposons des animations afin de partager et transmettre notre expérience des interactions avec le vivant.
</p><p>
Au moyen d’approches pédagogiques, légèrement scientifiques, surtout ludiques,
artistiques et sensorielles, dans un esprit de convivialité et d'entraide.
</p><p>
Nous proposons :
</p><p>
    • du jardinage d’inspiration permaculturelle,
</p><p>
    • des balades de plantes sauvages comestibles et toxiques,
</p><p>
    • des animations pédagogiques qui aident à découvrir le fonctionnement du monde vivant,
</p><p>
    • des ateliers manuels, artistiques et ludiques pour se relier aux éléments naturels,
</p><p>
    • des moments de célébrations et communions avec les cycles de la nature.
</p><p>
Nous sommes une collégiale de 4 personnes, chacun effectue les actions nécessaires au fleurissement de l’association en fonction de ses compétences.
</p>

</section>
<section>
  <h2>Témoignages</h2>
<%- include('../fragments/temoignages.ejs',{filter:"CCP"}); %>
</section>
<section>
  <h2>Dates à venir</h2>

<%
const now = (new Date()).getTime();
const futureEvents = events.filter( (e) => e.dateEnd.getTime()>now );
futureEvents.sort( (a,b) => a.dateStart.getTime() - b.dateStart.getTime() );
futureEvents.forEach(event=>{
_%>
<%- include('../fragments/event.ejs',{myEvent:event}); %>
<% }); _%>
</section>
