<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <% pages.forEach(page=>{
    if(page.hidden) return;
  _%>
  <url>
    <loc><%=canonical%><%=activeLang%>/<%=page.fileName%></loc>
    <% Object.keys(page.altLang).forEach(l=>{ _%>
      <xhtml:link rel="alternate" hreflang="<%=l%>" href="<%=canonical%><%=l%>/<%=page.altLang[l]%>"/>
    <% }); _%>
    <lastmod><%=now%></lastmod>
  </url>
  <% }); _%>
</urlset>
